<a href= "{{ path('addStudent2') }}" > +Add </a>
<br>
{% for i in tabStudent %}
ref: {{i.ref}}
moyenne: {{i.moyenne}}
username: {{i.username}}
<a href= "#" > Delete </a>
<a href= "#"> Update </a> 
<br>
{% endfor %}